@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Myeongjo", serif;
}

/* Navbar Start */
.navbar {
  background-color: black;
  margin: 0 auto;
}

button {
  padding: 0.3rem;
  background-color: transparent;
  border: 0.08rem solid red;
  border-radius: 1rem1;
}
button a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
button a:hover {
  outline: none;
  color: white;
}
/* Navbar End */

/* Homepage Start */

.homePageContainer {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 100vh;
  text-align: center;

  /* Homepage End */
}

/* Continents Pages Start */
.continentsPageContainer {
  background-color: snow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  /* margin: 1rem; */
}

.conteinetCard {
  text-align: center;
  margin: 1rem;
}
.conteinetCard a {
  color: black;
}
.conteinetCard a:hover {
  color: #333;
}
.continentHeader {
  background-color: #f3f3f3;
}

/* Continents Page End */
/* Details Page Start */
.detailsContainer {
  max-height: 100vh;
  max-width: 350px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 7px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid grey;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.country__name,
.country__region,
.country__row {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin: 5px auto;
  font-weight: bold;
  background-color: #f3f3f3;
  width: 80%;
}
.country__img {
  width: 80%;
  margin: 5px;
  border-radius: 5px;
  border: 3px solid black;
}
.goBackBtn {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}
/* Details Page End */
/* About Page Start */

.aboutContainer {
  text-align: center;
}
.aboutImage {
  max-width: 50%;
}
/* About Page End */
